@model Car

<div class="col-sm-4 col-md-4 col-lg-4">
    <div class="caption">
        <img src="@Model.ImageThumbNailUrl" alt="Image for eshopCar" />
        <h3>@Model.Price.ToString("c")</h3>
        <h3><a asp-controller="Car" asp-action="Details" asp-route-id="@Model.CarId">@Model.Name</a></h3>
        <p>@Model.Description</p>
    </div>
    <div class="addToCart">
        <p>
            <a class="btn btn-primary" asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-carId="@Model.CarId">Add to cart</a>
        </p>
    </div>
</div> 